[Desktop Entry]
Name=YIFF Config
Name[pl]=Konfiguracja YIFF
Comment=YIFF Sound Systems configurator
Comment[pl]=Konfigurator serwera dźwięku YIFF
Exec=yiffconfig
Terminal=false
Type=Application
Icon=yiffconfig.xpm
Encoding=UTF-8
# vi: encoding=utf-8
