[Desktop Entry]
Name=YIFF Config
Comment=YIFF Sound Systems configurator
Exec=yiffconfig
Terminal=0
Type=Application
Icon=yiffconfig.xpm
# vi: encoding=utf-8
